<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/plant-selection" class="navbar-brand p-3" href="#"
      >DataVisualization</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarContent" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/signUp"
            routerLinkActive="active"
            *ngIf="!(cognitoService.authenticationSubject | async)"
            >Sign up</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/signIn"
            routerLinkActive="active"
            *ngIf="!(cognitoService.authenticationSubject | async)"
            >Sign in</a
          >
        </li>
      </ul>

      <ul
        class="navbar-nav ml-auto p-3"
        *ngIf="cognitoService.authenticationSubject | async"
      >
        <li class="nav-item dropdown" (click)="showDropdown = !showDropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <!-- <i class="fas fa-user"></i> {{ greeting }}, {{ userName$ | async }} -->
            <i class="fas fa-user"></i> Options
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end fade-in"
            [class.show]="showDropdown"
            (click)="handleDropdownClick($event)"
          >
            <li>
              <a class="dropdown-item" [routerLink]="['/config']">Config</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="signOut()">Sign Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
