.modal-header {
  padding: 1rem 1rem 0rem 1rem;
  border-bottom: none;
}

.modal-sub-header {
  padding: 0rem 1rem 0rem 1rem;
  border-bottom: none;
}

button.close {
  padding: 0.2rem 0.4rem;
  margin: -0.2rem -0.4rem -0.2rem auto;
}

.spectogram-container {
  display: flex;
}

.spectogram-image-container {
  padding: 10px;
  height: 55vh;
}

h4.title {
  color: black;
  border-bottom: hidden;
  font-size: 100%;
}

.spectogram-image {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

.scroll-btn {
  width: auto;
  height: auto;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
