<div class="modal-header" *ngIf="workstation">
  <h4 class="modal-title pull-left">
    {{ city.name }}/{{ workstation?.stationId }}
    <small class="text-muted italic">
      - <em>{{ workstation?.description }} in {{ city.country }}</em></small>
  </h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="onClose()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
  <div>{{ workstation?.description }}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClose()">
    Close
  </button>
  <button type="button" class="btn btn-primary">Save changes</button>
</div>
