<div class="custom-dialog p-3">
  <div class="modal-header" *ngIf="workstation">
    <h4 class="modal-title pull-left">
      <span
        role="button"
        class="text-primary"
        (click)="navigateToPreviousPage()"
        >{{ city?.name }}</span
      >/{{ workstation?.stationId }}
      <small class="text-muted italic">
        - <em>{{ workstation?.description }} in {{ city?.country }}</em></small
      >
      <span class="mx-2 px-2">
        <button
          type="button"
          (click)="exportData()"
          class="btn btn-block export-button btn-primary fade-in"
          *ngIf="activeTab !== 'predictive-maintenance'"
        >
          Export
        </button>
      </span>
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="onClose()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="custom-dialog p-2">
      <!-- <ul class="nav nav-tabs justify-content-center py-1">
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeTab === 'station-details' }"
            (click)="onTabClick('station-details')"
            style="font-weight: bold; color: #333"
            >Station Details</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeTab === 'predictive-maintenance' }"
            (click)="onTabClick('predictive-maintenance')"
            style="font-weight: bold; color: #333"
            >Predictive Maintenance</a
          >
        </li>
      </ul>
    </div> -->
      <div class="component-container p-2">
        <div class="button-group justify-content-center py-2">
          <button
            class="button w-25"
            [ngClass]="{ active: activeTab === 'station-details' }"
            (click)="onTabClick('station-details')"
          >
            Station Details
          </button>
          <button
            class="button w-25"
            [ngClass]="{ active: activeTab === 'predictive-maintenance' }"
            (click)="onTabClick('predictive-maintenance')"
          >
            Predictive Maintenance
          </button>
        </div>
      </div>

      <div *ngIf="activeTab === 'station-details'" class="py-2 fade-in">
        <div class="row">
          <div class="col-6">
            <app-status-widget [workstation]="workstation"></app-status-widget>
          </div>
          <div class="col-6" *ngIf="workstation?.isOeeCalculable; else noOEE">
            <app-generic-card title="OEE Chart" [content]="oeeChart">
            </app-generic-card>
          </div>
          <hr />
          <div class="my-2 row">
            <div class="row col-12">
              <div class="col-3">
                <app-feedbacks
                  [title]="'Feedbacks'"
                  [total]="feedbacksData?.completeFeedbacks.total"
                  [lastResult]="feedbacksData?.completeFeedbacks.lastResult"
                  [lastId]="feedbacksData?.completeFeedbacks.lastId"
                  [lastTime]="feedbacksData?.completeFeedbacks.lastTime"
                  [rate]="feedbacksData?.completeFeedbacks.rate"
                ></app-feedbacks>
              </div>
              <div class="col-3">
                <app-feedbacks
                  [title]="'OK Feedbacks'"
                  [feedbackType]="'SCRAP'"
                  [total]="feedbacksData?.okFeedbacks.total"
                  [lastResult]="feedbacksData?.okFeedbacks.lastResult"
                  [lastId]="feedbacksData?.okFeedbacks.lastId"
                  [lastTime]="feedbacksData?.okFeedbacks.lastTime"
                  [rate]="feedbacksData?.okFeedbacks.rate"
                ></app-feedbacks>
              </div>
              <div class="col-3 px-4">
                <app-feedbacks
                  [title]="'NOK Feedbacks'"
                  [feedbackType]="'SCRAP'"
                  [total]="feedbacksData?.nokFeedbacks.total"
                  [lastResult]="feedbacksData?.nokFeedbacks.lastResult"
                  [lastId]="feedbacksData?.nokFeedbacks.lastId"
                  [lastTime]="feedbacksData?.nokFeedbacks.lastTime"
                  [rate]="feedbacksData?.nokFeedbacks.rate"
                ></app-feedbacks>
              </div>
              <div class="col-3 px-1">
                <app-feedbacks
                  [title]="'SCRAP Feedbacks'"
                  [feedbackType]="'SCRAP'"
                  [total]="feedbacksData?.scrapFeedbacks.total"
                  [lastResult]="feedbacksData?.scrapFeedbacks.lastResult"
                  [lastId]="feedbacksData?.scrapFeedbacks.lastId"
                  [lastTime]="feedbacksData?.scrapFeedbacks.lastTime"
                  [rate]="feedbacksData?.scrapFeedbacks.rate"
                ></app-feedbacks>
              </div>
            </div>

            <!-- <div class="col-9"></div> -->
          </div>
        </div>
        <div class="modal-footer sticky-footer">
          <!-- <button type="button" class="btn btn-secondary" (click)="onClose()">
        Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 'predictive-maintenance'">
      <app-predictive-maintenance
        [workstation]="workstation"
      ></app-predictive-maintenance>
    </div>
  </div>
</div>

<ng-template #noOEE>
  <div class="col-6 flex-grow-1 d-flex flex-column h-100">
    <div class="alert alert-warning flex-column" role="alert">
      <h4 class="alert-heading">OEE is not calculable!</h4>
      <p>
        The OEE is not calculable for this station because it is not configured
        properly.
      </p>
      <hr />
      <p class="mb-0">
        Please contact your system administrator to fix this issue.
      </p>
    </div>
  </div>
</ng-template>

<ng-template #oeeChart>
  <app-oee-calculation [workstation]="workstation"></app-oee-calculation>
</ng-template>
