.chart-container {
  display: inline-block;
  position: relative;
  width: 25%;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button.active {
  background-color: #333;
  color: #fff;
}

.component-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.chart-container {
  display: inline-block;
  position: relative;
  width: 50%;
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
