<div class="m-1">
  <div class="card pointer">
    <div class="card-header bg-primary text-white">
      <fa-icon
        [ngClass]="{
          'fa-solid fa-circle-xmark': alertGroup?.severity === 'ERROR',
          'fa-solid fa-circle-info': alertGroup?.severity === 'INFO',
          'fas fa-triangle-exclamation': alertGroup?.severity === 'WARNING'
        }"
        style="display: inline-block"
      ></fa-icon>
      <h5 class="card-title" style="display: inline-block; margin-left: 5px">
        {{ alertGroup?.severity }} - {{ alertGroup?.code }}
      </h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        <b>{{ alertGroup?.message }}</b>
      </p>
      <p class="card-text">{{ alertGroup?.stationId }}</p>
      <hr />
      <p class="card-text">
        {{ alertGroup?.timestamp | date : "dd/MM/yyyy HH:mm:ss" }}
      </p>
    </div>
  </div>
</div>
