<div class="row py-2">
  <!-- First card with chart -->
  <div class="col-8">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="col-sm-6">
          <h5 class="card-title">
            {{
              "RUL Info - " +
                (isHealthScoreChart ? "Health Score" : "RUL In Quantity") +
                " Chart"
            }}
          </h5>
        </div>
        <div class="col-sm-6 d-flex justify-content-end px-5">
          <ng-container [ngTemplateOutlet]="chartFeatures"></ng-container>
        </div>
      </div>
      <div class="card-body" *ngIf="rulInfoData">
        <span *ngIf="isHealthScoreChart">
          <app-predictive-maintenance-chart
            [lineChartData]="rulInfoData.lineChartData"
            [lineChartLabels]="rulInfoData.lineChartLabels"
            [lineChartColors]="rulInfoData.lineChartColors"
            [yAxisLabel]="
              isHealthScoreChart ? 'Health Score' : 'RUL In Quantity'
            "
          ></app-predictive-maintenance-chart>
        </span>
        <span *ngIf="!isHealthScoreChart">
          <app-predictive-maintenance-chart
            [lineChartData]="rulInfoData.rulInQuantityData"
            [lineChartLabels]="rulInfoData.rulInQuantityDataLabels"
            [lineChartColors]="rulInfoData.rulInQuantityDataColours"
            [yAxisLabel]="
              isHealthScoreChart ? 'Health Score' : 'RUL In Quantity'
            "
          ></app-predictive-maintenance-chart>
        </span>
      </div>
    </div>
  </div>

  <!-- Second card with statistics -->
  <div class="col-4 d-flex">
    <div class="card flex-grow-1">
      <div class="card-header">
        <h5 class="card-title">Statistics</h5>
      </div>
      <div class="card-body d-flex flex-column">
        <dl class="row">
          <dt class="col-sm-6">RUL in %:</dt>
          <dd class="col-sm-6">
            {{ currentStatus?.data?.rulInPercent | number : "1.2-2" }}%
          </dd>
          <dt class="col-sm-6">RUL in shots:</dt>
          <dd class="col-sm-6">{{ currentStatus?.data?.rulInQuantity }}</dd>
          <dt class="col-sm-6">Number of anomalies:</dt>
          <dd class="col-sm-6">{{ calculatedStatistics.numAnomalies }}</dd>
          <dt class="col-sm-6">Error ratio:</dt>
          <dd class="col-sm-6">
            {{ calculatedStatistics.errorRatio | number : "1.2-2" }}%
          </dd>
          <dt class="col-sm-6">Classification result:</dt>
          <dd class="col-sm-6">
            <ng-container
              *ngIf="currentStatus?.data?.rulInPercent > 60; else critical"
              ><span class="text-primary">Normal</span></ng-container
            >
          </dd>
          <dt class="col-sm-6">Timestamp:</dt>
          <dd class="col-sm-6">
            {{ currentStatus?.data?.timestamp | date : "medium" }}
          </dd>
          <dt class="col-sm-6">Export current chart data:</dt>
          <dd class="col-sm-6">
            <button
              type="button"
              (click)="exportData()"
              class="btn btn-block chart-button btn-primary"
            >
              Export
            </button>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<ng-template #critical>
  <span class="text-danger">Critical</span>
</ng-template>

<ng-template #chartFeatures>
  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
      <div class="p-1 row">
        <div class="col-6"></div>
        <div class="col-6">
          <button
            ngDefaultControl
            type="button"
            [ngModel]="isHealthScoreChart"
            [ngClass]="[isHealthScoreChart ? 'btn-danger' : 'btn-predictive']"
            (click)="switchChart()"
            class="btn btn-block chart-button text-white"
          >
            Switch Chart
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
