<div class="p-5">
  <form>
    <div class="form-outline mb-4">
      <input type="text" id="form6Example1" class="form-control" />
      <label class="form-label" for="form6Example1">Plant Index</label>
    </div>
    <div class="form-outline mb-4">
      <input type="text" id="form6Example2" class="form-control" />
      <label class="form-label" for="form6Example2">Station Id</label>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example3" class="form-control" />
      <label class="form-label" for="form6Example3">Display Name</label>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example4" class="form-control" />
      <label class="form-label" for="form6Example4">Description</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="number" id="form6Example5" class="form-control" />
      <label class="form-label" for="form6Example5">Cycle Time</label>
    </div>

    <!-- Number input -->
    <div class="form-outline mb-4">
      <input type="number" id="form6Example6" class="form-control" />
      <label class="form-label" for="form6Example6">Running Time</label>
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="form6Example8"
        checked
      />
      <label class="form-check-label" for="form6Example8">
        Is OEE Calculable?
      </label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">
      Save workstation
    </button>
  </form>
</div>
