.card-plant-img-top {
  transition: all 0.3s ease;
}

.card-plant:hover .card-plant-img-top {
  transform: scale(1.05);
}

.img-container {
  overflow: hidden;
  position: relative;
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

.card-plant:hover .img-container::before {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-plant.hovered {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.card-plant {
  transition: all 0.3s ease;
}

.card-plant:hover {
  //   transform: scale(1.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CSS for Mobile Phones */

/* Set the width of the card image to 100% for mobile phones */
.card-plant-img-top {
  width: 100%;
  height: auto;
}

/* Adjust the font size of card title and description for mobile phones */
.card-plant-title,
.card-plant-text {
  font-size: 16px;
}

/* Add margin to the top of the card title for mobile phones */
.card-plant-title {
  margin-top: 8px;
}

/* Add padding to the card body for mobile phones */
.card-plant-body {
  padding: 10px;
}

/* Adjust the number of columns for mobile phones */
.row-cols-md-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* Adjust margin between cards for mobile phones */
.row .col.mb-4 {
  margin-bottom: 16px;
}
