<div class="card">
  <div>
    <div class="card-header">
      <h5 class="card-title">Status</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        The workstation's current status
      </h6>
    </div>
    <div class="card-text card-body">
      <dl class="row">
        <dt class="col-sm-3">Planned Cycle Time</dt>
        <dd class="col-sm-9">{{ plannedCycleTime }}s</dd>
        <dt class="col-sm-3">Last Cycle Time</dt>
        <dd class="col-sm-9">{{ workstation?.cycleTime }}s</dd>
        <dt class="col-sm-3">Cycle Time Delay</dt>
        <dd class="col-sm-9">{{ workstation?.cycleTimeDelay }}s</dd>
        <dt class="col-sm-3">Planned Running Time</dt>
        <dd class="col-sm-9">{{ plannedRunningTime }}s</dd>
        <dt class="col-sm-3">Last Running Time</dt>
        <dd class="col-sm-9">{{ workstation?.runningTime }}s</dd>
        <hr />
        <dt class="col-sm-3">Equipment number</dt>
        <dd class="col-sm-9">{{ workstation?.equipmentNumber }}s</dd>
        <!-- <hr>
        <dt class="col-sm-3">Production Count</dt>
        <dd class="col-sm-9">{{ workstation?.productionCount }}</dd>
        <dt class="col-sm-3">Defect Count</dt>
        <dd class="col-sm-9">{{ workstation?.defectCount }}</dd> -->
      </dl>
    </div>
  </div>
</div>
