<app-generic-card title="Config" [content]="mainContent"> </app-generic-card>
<ng-template #mainContent>
  <div class="container">
    <div class="row mb-3">
      <p class="text-muted">Select a plant</p>
      <div class="input-group my-2">
        <button
          class="btn btn-secondary"
          (click)="editPlant = !editPlant"
          *ngIf="selectedPlant"
        >
          <i class="bi bi-pencil-square">{{ !editPlant ? "Edit" : "Reset" }}</i>
        </button>
        <select
          class="form-select custom-select"
          (change)="selectPlant($event.target.value)"
        >
          <option value="" disabled selected>Select a plant</option>
          <option *ngFor="let plant of plants" [value]="plant.plantIndex">
            {{ plant.title }}
          </option>
        </select>
        <button class="btn btn-primary ms-2" (click)="addPlant()">
          <i class="bi bi-plus">+</i>
        </button>
      </div>

      <div class="row">
        <div class="col-6">
          <app-generic-card
            *ngIf="selectedPlant && !editPlant && !newPlant"
            title="List of workstations"
            [content]="workstationList"
          >
          </app-generic-card>
        </div>
        <div class="col-6">
          <app-generic-card
            title="Config Workstation: {{ selectedWorkstation.displayName }}"
            [content]="workstationConfig"
            *ngIf="
              selectedWorkstation && selectedPlant && !editPlant && !newPlant
            "
          >
          </app-generic-card>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-generic-card
            title="Config Plant"
            [content]="plantConfig"
            *ngIf="selectedPlant && (editPlant || newPlant)"
            class="w-50"
          >
          </app-generic-card>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #workstationConfig>
  <app-workstation-config
    [workstation]="selectedWorkstation"
    [ngClass]="{ fadein: shouldFadeIn }"
    #workstationConfigComponent
    [isNewWorkstation]="selectedWorkstation.stationId"
  ></app-workstation-config
></ng-template>

<ng-template #plantConfig>
  <app-plant-config [plant]="selectedPlant"></app-plant-config>
</ng-template>

<ng-template #workstationList>
  <ul class="list-group" style="max-height: 630px; overflow-y: auto">
    <li
      class="list-group-item"
      *ngFor="let workstation of workstations"
      (click)="selectedWorkstation = workstation"
      style="cursor: pointer"
    >
      {{ workstation.displayName }}
    </li>
  </ul>
  <div>
    <p>
      <em>
        There {{ workstations.length === 1 ? "is" : "are" }} currently
        {{ workstations.length }} configured
        {{ workstations.length === 1 ? "workstation" : "workstations" }} in this
        plant.
      </em>
    </p>
  </div>

  <button class="btn btn-primary mt-3" (click)="addWorkstation()">
    Add workstation
  </button>
</ng-template>
