<div class="card h-75 p-2 fade-in">
  <div class="card-header bg-white">Select a Plant</div>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-5 g-5">
      <div class="col mb-4" *ngFor="let plant of plants">
        <a
          routerLink="/plant-selection/{{ plant.id }}"
          class="text-decoration-none"
        >
          <div
            class="card card-plant mb-4 box-shadow"
            [class.hovered]="plant.isHovered"
            (mouseenter)="plant.isHovered = true"
            (mouseleave)="plant.isHovered = false"
          >
            <img
              class="card-img-top card-plant-img-top img-fluid"
              src="{{ plant.imageUrl }}"
              alt="{{ plant.title }}"
              style="width: 400px; height: 200px"
            />
            <div class="card-body card-plant-body">
              <h4 class="card-title card-plant-title text-black">
                {{ plant.title }}
              </h4>
              <p class="card-text card-plant-text text-secondary">
                {{ plant.description }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
