<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <a class="navbar-brand" href="#">
        <img class="logo" alt="Brand" src="assets/img/logo.png">
    </a>
    <a class="navbar-brand" href="#">
        DVP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse" role="navigation">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/public/about']" routerLinkActive="active">About</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
        </ul>
    </div>
</nav>